#tagline {
	background-color:green;
	height:10%;
	padding:1.125%;
}

#brand {
	color:white;
	width:20%;
	height:5%;
	font-size:312.5%;
	margin:1% 0% 0% 1.5%;
	display:inline-block;
}

#logo {
	float:left;
	height:100%;
	margin-left:1.25%;
}

#login {
	color:white;
	text-align:center;
	font-size:125%;
	padding:0.5% 4% 0.5% 4%;
	text-decoration:none;
	float:right;
	margin:1.5%;
	background-color:green;
	border:2px solid white;
	border-radius:10% / 50%;
}

#login:hover {
	background-color:white;
	color:black;
	cursor: pointer;
}

#loginTag {
	color:white;
	text-align:center;
	font-size:125%;
	text-decoration:none;
	float:right;
	margin:2% 0.5% 0% 0%;
	background-color:green;
}

#navigation {
	background-color:black;
	padding:1% 0px 1% 0px;
	height:2.1%;
	border-top:2px solid white;
	border-bottom:2px solid white;
}

#tabs {
	color:white;
	text-align:center;
	font-size:125%;
	padding:1%;
	text-decoration:none;
}

#tabs:hover {
	background-color:white;
	color:black;
	cursor:pointer;
}
.textbox {
	width:75%;
	padding:2% 2%;
	border:2px solid #004b00;
	font-size:150%;
}

.signbtn {
	width:25%;
	margin-top:5%;
	padding:1.5% 0%;
	background-color:#004b00;
	color:white;
	font-size:125%;
	border:2px solid white;
	border-radius:10% / 50%;
}

#header {
	padding:2% 4%;
	font-size:300%;
}

#division {
	width:50%;
	left:25%;
	position:absolute;
}
